<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-12 search-box">
      <h1 class="text-center">DICTIONARY APP</h1>
      <form (ngSubmit)="onSubmit(dictionaryForm)" #dictionaryForm="ngForm">
        <div class="form-group">
          <input type="text" class="form-control" ngModel name="search" required #search="ngModel">
          <span class="help-block" *ngIf="!search.valid && search.touched">Enter a word!</span>
        </div>
        <div class="text-center">
          <button class="btn btn-success" type="submit" [disabled]="!dictionaryForm.valid">Search</button>
        </div>
      </form>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-12 result-box">
        <ul class="list-group" *ngIf="!error">
          <li class="list-group-item" *ngFor="let result of results">
            <p class="text text-success">{{ result.partOfSpeech | uppercase }}</p>
            <h4 class="text text-danger">{{ result.definition }}</h4>
            <em>"{{ result.example }}"</em>
            
          </li>
        </ul>

        <div class="alert alert-danger" *ngIf="error">
          <h3>{{ error }}</h3>
        </div>
    </div>
  </div>
</div>